server {
    listen 80 default_server;
    listen [::]:80 default_server;

    location /health {
        add_header Content-Type text/plain;
        return 200 "ok\n";
    }

    location / {
        return 200 "nginx работает\n";
    }
}
